Foodie/Foodie.xcworkspace/xcuserdata/
Foodie/Pods
../.DS_Store
.DS_Store
Foodie/Foodie.xcworkspace/xcuserdata/arthur.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Foodie/Foodie.xcworkspace/xcuserdata/arthur.xcuserdatad/UserInterfaceState.xcuserstate

